<ion-view title="Cambiar contraseña" id="page6">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div ng-if="isIOS" class="padding-ios"></div>
    <div class="text-center">
      <img style="max-width: 100%;" class="drop-shadow home-logo" src="img/blank-avatar-big.png" />
    </div>
    <form name="loginForm" ng-submit="loginForm.$valid && doSendForm()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nueva</span>
          <input type="password" ng-model="loginData.new_password" required="true" >
        </label>
        <label class="item item-input">
          <span class="input-label">Repetir</span>
          <input type="password" ng-model="loginData.repeat_password" required="true" >
        </label>
        <label class="item">
          <button class="button button-assertive button-block button-navy-blue login-button"
                  ng-disabled="loginForm.$invalid && loginData.new_password==loginData.repeat_password"
                  type="submit">
            Enviar
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
