<ion-view title="Contacto" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="2Contacto-button6" class="button button-positive  button-block button-outline">1</button>
            <button id="2Contacto-button7" class="button button-positive  button-block">2</button>
            <button id="2Contacto-button8" class="button button-positive  button-block button-outline">3</button>
        </div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Teléfono</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">E-mail</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Facebook</ion-toggle>
            <label class="item item-input">
                <span class="input-label">Otro</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="app.3Fotos" id="2Contacto-button9" class="button button-positive  button-block">Siguiente</a>
    </ion-content>
</ion-view>
