<ion-view title="{{tipoController|capitalize}}" id="page1">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear ion-search" style="font-size: 2em;" ng-click="openModal()" ng-if="tipoController=='inicio'"></button>
  </ion-nav-buttons>
    <ion-content scroll="false" class="fondo-perritos">
      <ion-slides  options="data.sliderOptions" slider="data.sliderDelegate">
        <ion-slide-page ng-repeat="card in publicaciones track by card.id ">
        
        <div class="list card card-page">
          <div class="item item-avatar" ng-click="viewPublicacion(card)">
            <img ng-if="card.fotos.length > 0"  ng-src="{{ base_url + card.fotos[0].image }}"/>
            <img ng-if="card.fotos.length == 0" src="img/dog.jpg" />
            <h2 class="tipo-pub text-center">{{card.titulo}} <span ng-if="card.distance">- {{card.distance}}</span></h2>
            <p class="fecha-pub"><span>{{getTipoTexto(card)}}</span> - {{card.date}}</p>
          </div>  
          
          <div class="item item-body">
            <img class="full-image"  on-double-tap="addFavorite(card)" ng-if="card.fotos.length > 0"  ng-src="{{ base_url + card.fotos[0].image }}"/>
            <img class="full-image"  on-double-tap="addFavorite(card)" ng-if="card.fotos.length == 0" src="img/dog.jpg" />
            <p>
              {{card.descripcion}}
            </p>
            <p>
              <a href="#" class="subdued">{{card.cont_views}} Vistas</a>
              <a href="#" class="subdued">{{card.cont_contact}} Interesados</a>
              <a href="#" class="subdued">
              <div ng-click="addFavorite(card)" ng-class="{'button-fav favorite': isFavorite(card), 'button-fav not-favorite': !isFavorite(card)}"></div>
              </a>
            </p>  
          </div>
        </div>

        </ion-slide-page>
      </ion-slides>
    </ion-content>

    

	  
    <!--ion-infinite-scroll on-infinite="getPublicacionesMore()" distance="1%" ng-if="tipoController=='inicio' && more_publicaciones==true">
  </ion-infinite-scroll>
  </ion-content-->
</ion-view>
