<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="true" class="login">
        <div class="main-portlet">

            <div class="logo-petbond">
                <img src="img/logo_petbond.png" style="max-width: 100%;"/>
            </div> 
            <p class="title-petbond">Petbond</p>
            <!--Custom login-->
            <div>
                <form name="loginform">
                    <!--Email-->
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input id="login-email" type="text" ng-model="loginData.email">
                    </label>

                    <!--Password-->
                    <label class="item item-input">
                        <span class="input-label">Contraseña</span>
                        <input type="password" ng-model="loginData.password">
                    </label>

                    <!--Buttons-->  
                    <div>
                        <a class="button button-block button-dark" ng-click="doLogin()">Ingresar</a>
                    </div>
                </form>

                <div>
                    <a class="button button-block button-dark" ng-click="goToSignUp()">Registrarme</a>
                </div>
            </div>

            <!--Facebook login-->
            <div>
                <a class="button button-block icon-left ion-social-facebook button-positive" ng-click="facebookLogin()">Login con Facebook</a>
            </div>

            <!--Recuperar contraseña-->
            <div>
                <a class="button button-block button-clear icon-left ion-unlocked button-calm " ng-click="recuperarContrasena()">Recuperar contraseña</a>
            </div>
        </div>
    </ion-content>
</ion-view>