<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="app.home" menu-close="">Inicio</ion-item>
                <ion-item ui-sref="app.publicacion-new" menu-close="">Nueva publicación</ion-item>
                <!--<ion-item ng-click="admin_photos()" menu-close="">Nueva publicación</ion-item>-->
                <ion-item ui-sref="app.mis-publicaciones" menu-close="">Mis publicaciones</ion-item>
                <ion-item ui-sref="app.favoritos" menu-close="">Favoritos</ion-item>
                <ion-item ui-sref="app.profile" menu-close="">Mi perfil</ion-item>
                <!--ion-item ui-sref="app.map" menu-close="">Map</ion-item-->
                <ion-item ui-sref="app.logout">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
