<ion-view title="Publicación" cache-view="false">
  <ion-content overflow-scroll="true" padding="true" class="has-header fondo-perritos" lazy-scroll>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-if="publicacion.fotos.length > 0" image-lazy-src="{{ base_url + publicacion.fotos[0].image }}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="-200"/>
        <img ng-if="publicacion.fotos.length == 0" src="img/dog.jpg" />
        <h2>{{publicacion.titulo}}</h2>
        <p ng-repeat="tipo in tipos" ng-if="tipo.value == publicacion.tipo">
          {{tipo.texto}}
          <br/>
          Vistas: {{publicacion.cont_views}} Interesados: {{publicacion.cont_contact}} Distancia: {{publicacion.distance}}
        </p>
      </div>
      <div class="item item-text-wrap">
        {{publicacion.descripcion}}
      </div>

      <div class="item item-divider">
        Fotos
      </div>
    <!--Foto principal-->
    <div class="item item-divider">
      <i class="ion-images"> Fotos ({{publicacion.fotos.length}})</i>
      <!--Editar fotos-->
      <button class="button button-small icon-left button-balanced" style="float:right;" ng-click="goToPublicacionImages()" ng-if="can_edit">
        Editar
      </button>
      <br><br>
      <!--Vista preliminar-->
      <ion-scroll direction="x" ng-if="publicacion.fotos.length > 0">
          <img ng-repeat="foto in publicacion.fotos" image-lazy-src="{{base_url + foto.image}}" class="image-list-thumb"  style="width:100%;margin:auto;display:inline-block; vertical-align: top;" ng-click="showImages($index)">
      </ion-scroll>
      <!--Sin fotos disponibles-->
      <span ng-if="publicacion.fotos.length == 0">No hay imágenes disponibles.</span>
    </div>
      <div class="item item-divider">
        Mapa
      </div>
    <!--Mapa-->
    <div class="item item-text-wrap">
      <div  id="event-map">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
              <ui-gmap-marker coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
          </ui-gmap-google-map>
      </div>
    </div>

    <div class="item item-divider">
      Más datos
    </div>
    <!--Detalles-->
    <div class="list">
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Mascota</span>
        {{publicacion.tipoMascota.nombre}}
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Raza</span>
        {{publicacion.raza.nombre}}
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Sexo</span>
        <span ng-repeat="sexo in sexos" ng-if="sexo.value == publicacion.sexo">{{sexo.texto}}</span>
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Edad</span>
        <span ng-repeat="edad in edades" ng-if="edad.value == publicacion.edad">{{edad.texto}}</span>
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Color</span>
        {{publicacion.color.nombre}}
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Fecha</span>
        {{publicacion.date}}
      </label>
    </div>

    <div class="item item-divider" ng-if="!can_edit">
      Cómo contactarme
    </div>
    <div class="list" ng-if="!can_edit">
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Nombre</span>
        {{publicacion.usuario.nombre}} {{publicacion.usuario.apellido}} 
      </label>
      <label class="item item-input item-detail">
        <span class="input-label item-detail-label">Email</span>
        {{publicacion.usuario.email}}
      </label>
    </div>

    <div class="item" ng-if="!can_edit">
      <button class="button button-block button-dark icon-left ion-email" ng-click="showFormContacto()">Enviar email</button>
    </div>
    <br/>
      <div class="item">
        <button class="button button-balanced icon-left ion-edit" ng-click="edit()" ng-if="can_edit">Editar</button>
        <!--Pausar/Activar-->
        <button class="button button-calm icon-left ion-pause" ng-show="can_edit && (publicacion.estado=='A')" ng-click="setEstado('B')">Pausar</button>
        <button class="button button-positive icon-left ion-play" ng-show="can_edit && (publicacion.estado=='N' || publicacion.estado=='B')" ng-click="setEstado('A')">Activar</button>

        <!--Favorito/No favorito-->
        <button class="button icon-right ion-ios-heart-outline" ng-if="!is_favorite" ng-click="setFavorite()">Marcar favorito</button>
        <button class="button icon-right ion-ios-heart" ng-if="is_favorite" ng-click="setFavorite()">Quitar favorito</button>
      </div>
    <!--Contacto.-->
    </div>
  </ion-content>

</ion-view>
