<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Buscar publicaciones</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeModal()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="fondo-perritos">
    <form class="list card">
      <!--Filtro.-->
	  <ion-toggle ng-model="criteria.isDistance" toggle-class="toggle-calm">Filtrar por distancia?</ion-toggle>
		
      <div class="item range range-calm" ng-if="criteria.isDistance">
        <span>1km</span>
        <input type="range" name="distance" min="1" max="100" value="50" ng-model="criteria.distance">
        <span>100km</span>
      </div>

      <!-- Pet. -->
      <label class="item item-select">
        <span class="input-label">Mascota</span>
        <select ng-model="criteria.tipoMascota" ng-options="tipoMascota.id as tipoMascota.nombre for tipoMascota in tipos_mascota"></select>
      </label>

      <!-- Race. -->
      <label class="item item-select" ng-if="criteria.tipoMascota > 0">
        <span class="input-label">Raza</span>
        <select ng-options="raza.id as raza.nombre for raza in razas | filter:razaPorTipoMascota(criteria.tipoMascota)"
                ng-model="criteria.raza"></select>

      </label>

      <!-- Sexo. -->
      <label class="item item-select">
        <span class="input-label">Sexo</span>
        <select ng-model="criteria.sexo" ng-options="sexo.value as sexo.texto for sexo in sexos"></select>
      </label>

      <!-- Edad. -->
      <label class="item item-select">
        <span class="input-label">Edad</span>
        <select ng-model="criteria.edad" ng-options="edad.value as edad.texto for edad in edades"></select>
      </label>


      <!-- Color. -->
      <label class="item item-select">
        <span class="input-label">Color</span>
        <select ng-model="criteria.color" ng-options="color.id as color.nombre for color in colores"></select>
      </label>

      <!-- Tipo. -->
      <label class="item item-select">
        <span class="input-label">Tipo</span>
        <select ng-model="criteria.tipo" ng-options="tipo.value as tipo.texto for tipo in tipos"></select>
      </label>

      <!--Por Fecha.-->
      <ion-toggle ng-model="criteria.isFecha" toggle-class="toggle-calm">Por fecha de publicación</ion-toggle>

      <label class="item item-input" ng-if="criteria.isFecha">
        <span class="input-label">Desde</span>
        <input type="date" ng-model="criteria.fecha_desde">
      </label>

      <label class="item item-input" ng-if="criteria.isFecha">
        <span class="input-label">Hasta</span>
        <input type="date" ng-model="criteria.fecha_hasta">
      </label>

      <div class="item">
        <button class="button button-block button-calm" ng-click="doSearch()">Buscar</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
