<ion-view title="Registrarme">
  <ion-content padding="true" overflow-scroll="true" class="has-header">
    <form class="list" name="signupForm">
      <!--Foto-->
      <ion-item class="item-thumbnail-left">
        <img src="img/blank-avatar-big.png" ng-if="user.image == null" />
        <img src="data:image/jpeg;base64,{{user.image}}" class="ion-camera" ng-if="user.image != null && facebookConnected == false" />
        <img src="{{user.image}}" class="ion-camera" ng-if="facebookConnected" />

        <button
          class="button button-full icon-right ion-camera button-stable"
          ng-click="editProfilePicture()">
          Selecciona tu avatar
        </button>
      </ion-item>

      <!--Nombre-->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="user.nombre"  ng-required="true">
      </label>

      <!--Apellido-->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Apellido</span>
        <input type="text" ng-model="user.apellido" ng-required="true">
      </label>

      <!--Teléfono-->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Teléfono</span>
        <input type="tel" ng-model="user.telefono" ng-required="true">
      </label>

      <!--Email-->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email" ng-required="true">
      </label>

      <!--Password-->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Contraseña</span>
        <input type="password" ng-model="user.password" ng-required="true">
      </label>

      <!--Buttons-->
      <div>
        <a class="button button-block button-dark" ng-disabled="signupForm.$invalid" ng-click="signupForm.$valid && doSignup()">Registrarme</a>
      </div>
    </form>
  </ion-content>
</ion-view>
