<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richpolissystems.petbond" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Petbond</name>
    <description>
        App para mascotas perdidas, adoptar mascotas y encontrar novia o novio para mi mascota.
    </description>
    <author email="you@example.com" href="http://example.com.com/">
      Richpolis Systems
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="geo:*" />
    <allow-navigation href="http://petmatch.hol.es/*" />
    <allow-navigation href="http://localhost:8022/*" />
    <allow-navigation href="http://maps.apple.com/*" />
    <allow-navigation href="maps://maps.apple.com/*" />
    <allow-navigation href="https://scontent.xx.fbcdn.net/*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.1" />
    <plugin name="cordova-plugin-camera" spec="~2.2.0" />
    <plugin name="cordova-plugin-file" spec="~4.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.1" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.3">
        <variable name="APP_ID" value="153688465044024" />
        <variable name="APP_NAME" value="Petmatch" />
    </plugin>
</widget>
