
@font-face {
    font-family: 'amatic_bold';
    src: url('../fonts/amatic/amatic_bold.eot');
    src: url('../fonts/amatic/amatic_bold.eot') format('embedded-opentype'),
        url('../fonts/amatic/amatic_bold.woff2') format('woff2'),
        url('../fonts/amatic/amatic_bold.woff') format('woff'),
        url('../fonts/amatic/amatic_bold.ttf') format('truetype'),
        url('../fonts/amatic/amatic_bold.svg#amatic_bold') format('svg');
}

.title-petbond{
  font-family: 'amatic_bold';
  font-size: 30px;
  z-index: 1000;
  position: relative;
}

.menu-petbond{
  font-weight: 900;
  font-size: 1.2em;
  color: white;
  text-transform: lowercase;
}

.menu-petbond:first-letter{
    text-transform: uppercase;
}

.petmatch-item {
    background-color: #009900 !important;
    color: #000 !important;
    border-radius: 15px !important;
    margin: 5px !important;
}

.image-loader-container {
    margin: 9px;
    max-width: 81px;
    max-height: 81px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #e5e5e5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 300px;
    width: 100%;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.post-date {
    text-align: right;
}

.tipo-pub {
    padding: 2px;
    color: #000 !important;
    background-color: #ffd966;
    font-size: 16px;
    border-radius: 5px;
}

.desc-pub {
    font: 13px arial !important;
}

.fecha-pub {
    font: italic bold 9px arial !important;
    text-align: right;
    margin-top: 10px;
}

.item-detail {
    font: 13px arial !important;
    padding: 0 0 0 16px !important;
}

.item-detail-label {
    font-weight: bold;
}

.button-fav {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: -2px;
}

.favorite {
    background-image: url('../img/fav.png');
    background-repeat: no-repeat;
}

.not-favorite {
    background-image: url('../img/no_fav.png');
    background-repeat: no-repeat;
}

.login {
/*    background-image: url('../img/dog.jpg');
    background-repeat: no-repeat;*/
}

.main-portlet {
    padding-top: 50%;
    position: relative;
}

.logo-petbond{
    width: 80%;
    position: absolute;
    top: 10px;
    left: 10%;
    z-index: 500;
}

.main-portlet p {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.pane {
	/*background: url(image) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/* Google maps */

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.fondo-perritos{
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#event-map {
  width: 100%;
  height: 250px; }

.angular-google-map-container {
  height: 250px; }

/** This is the map configuration for NEW EVENTS, not a new map format */
#new-event-map {
  width: 100%;
  height: 300px; }

#new-event-map:before {
  width: 22px;
  height: 40px;
  display: block;
  content: ' ';
  position: relative;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -11px;
  background: url("../img/marker.png");
  background-size: 22px 40px;
  /* Since I used the HiDPI marker version this compensates for the 2x size */
  z-index: 1; }

.new-event-instructions {
  padding: 15px;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 12px;
  color: white;
  }
.new-event-instructions strong {
  font-weight: normal;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 14px; }

/* AUTOCOMPLETE FIX PELOS 2016-03-03 */
div.pac-container {
  pointer-events: auto;
  position: absolute;
  z-index: 10000; }

/*# sourceMappingURL=style.css.map */

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
  font-weight: normal;
}


/* Version 2 de listado cards */
.fondo-imagen-publicacion{
	background-repeat: no-repeat;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: contain;
	height: 200px;
	width: 100%;
}

/* Card styling */
 
td-cards, .cards {
    display: block;
}
 
.list:last-child.card.card-page {
    margin-bottom: none; 
}

td-card, .card.card-page {
    position: relative;
    /*left: 50%;*/
    margin: 10px 10px 80px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: rgb(255,255,255);
    padding: 0px 10px;
}


 
.td-card .title, .card.card-page .title {
    height: 40px;
    font-size: 15px;
    padding: 15px;
}
 
td-card .image, .card.card-page .item-body .image {
    position: absolute;
    top: 40px;
    width: 100%;
}
 
td-card img, .card.card-page .item-body img {
    max-height: 258px;
    width: 100%;
    border-radius: 6px;
    margin: auto 0;
    padding: 0;
}
 
/* Overlay styling*/
 
.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}
 
.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}
 
.yes-text {
    background-color: rgba(0,256,0,0.2);
}
 
.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}
 
.no-text {
    background-color: rgba(256,0,0,0.2);
}
 
.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}
 
.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.box{
  height: 100%;
}

/*ion-slides{
  height: calc(100% - 40px) !important;
}*/
